.CreditCardsShow
  .Wrapper
    %nav.BreadCrumbs
      %ol.BreadCrumbs__list
        %li
          = link_to 'root_path', class: "BreadCrumbs__list__link" do
            フリマ
          %i.angleRight
            = icon('fas', 'angle-right',  class: "icon")
        %li
          クレジットカード情報削除
    .Main
      = render "users/sidebar"
      
      .Container
        -# 上部タイトル
        %section.Title
          %h2 登録クレジットカード情報
        .Contents
          .Center
            %label 登録クレジットカード情報
            %br
            = "**** **** **** " + @default_card_information.last4
            %br
            - exp_month = @default_card_information.exp_month.to_s
            - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
            = exp_month + " / " + exp_year
            = form_tag(delete_credit_cards_path, method: :post, id: 'charge-form',  name: "inputForm") do
              %input{ type: "hidden", name: "card_id", value: "" }
              %button 削除する
            %h3.CardInfo__content__returnToHome
              =link_to root_path do
                もどる
= render partial: "/items/footer"
