.Logout
  .Wrapper
    %nav.BreadCrumbs
      %ol.BreadCrumbs__list
        %li
          = link_to 'root_path', class: "BreadCrumbs__list__link" do
            フリマ
          %i.angleRight
            = icon('fas', 'angle-right',  class: "icon")
        %li
          マイページ
    .Main
      = render "sidebar"
      .Container
        -# ログアウトボタン(method: :deleteつける)
        .LogoutSection
          .LogoutSection__buttonField
            = link_to destroy_user_session_path, method: :delete, class: 'LogoutSection__buttonField__button' do
              %button{type: "", class: "buttonBlue"}
                ログアウト
= render partial: "/items/footer"