= render partial: "/items/header_index"
.UsersShow
  .Wrapper
    %nav.BreadCrumbs
      %ol.BreadCrumbs__list
        %li
          = link_to 'root_path', class: "BreadCrumbs__list__link" do
            フリマ
          %i.angleRight
            = icon('fas', 'angle-right',  class: "icon")
        %li
          マイページ
    .Main
      .SideBar
        %nav.SideBarNav
          %ul.SidebarNav__list
            %li
              = link_to '#', class: "SideBarNav__list__item active" do
                マイページ
                %i.angleRight
                  = icon('fas', 'angle-right',  class: "icon")
            %li
              = link_to '#', class: "SideBarNav__list__item" do
                お知らせ
                %i.angleRight
                  = icon('fas', 'angle-right',  class: "icon")
            %li
              = link_to '#', class: "SideBarNav__list__item" do
                やることリスト
                %i.angleRight
                  = icon('fas', 'angle-right',  class: "icon")
            %li
              = link_to '#', class: "SideBarNav__list__item" do
                いいね！一覧
                %i.angleRight
                  = icon('fas', 'angle-right',  class: "icon")
            %li
              = link_to '#', class: "SideBarNav__list__item" do
                出品する
                %i.angleRight
                  = icon('fas', 'angle-right',  class: "icon")
            %li
              = link_to '#', class: "SideBarNav__list__item" do
                下書き一覧
                %i.angleRight
                  = icon('fas', 'angle-right',  class: "icon")
            %li
              = link_to '#', class: "SideBarNav__list__item" do
                出品した商品 - 出品中
                %i.angleRight
                  = icon('fas', 'angle-right',  class: "icon")
            %li
              = link_to '#', class: "SideBarNav__list__item" do
                出品した商品 - 取引中
                %i.angleRight
                  = icon('fas', 'angle-right',  class: "icon")
            %li
              = link_to '#', class: "SideBarNav__list__item" do
                出品した商品 - 売却済み
                %i.angleRight
                  = icon('fas', 'angle-right',  class: "icon")
            %li
              = link_to '#', class: "SideBarNav__list__item" do
                購入した商品 - 取引中
                %i.angleRight
                  = icon('fas', 'angle-right',  class: "icon")
            %li
              = link_to '#', class: "SideBarNav__list__item" do
                購入した商品 - 過去の取引
                %i.angleRight
                  = icon('fas', 'angle-right',  class: "icon")
            %li
              = link_to '#', class: "SideBarNav__list__item" do
                ニュース一覧
                %i.angleRight
                  = icon('fas', 'angle-right',  class: "icon")
            %li
              = link_to '#', class: "SideBarNav__list__item" do
                評価一覧
                %i.angleRight
                  = icon('fas', 'angle-right',  class: "icon")
            %li
              = link_to '#', class: "SideBarNav__list__item" do
                ガイド
                %i.angleRight
                  = icon('fas', 'angle-right',  class: "icon")
            %li
              = link_to '#', class: "SideBarNav__list__item" do
                お問い合わせ
                %i.angleRight
                  = icon('fas', 'angle-right',  class: "icon")
            %li
              = link_to '#', class: "SideBarNav__list__item" do
                売上・振込申請
                %i.angleRight
                  = icon('fas', 'angle-right',  class: "icon")
          %h2.SideBarNav__listTitle
            設定
          %ul.SidebarNav__list
            %li
              = link_to '#', class: "SideBarNav__list__item" do
                プロフィール
                %i.angleRight
                  = icon('fas', 'angle-right',  class: "icon")
            %li
              = link_to '#', class: "SideBarNav__list__item" do
                発送元・お届け先住所変更
                %i.angleRight
                  = icon('fas', 'angle-right',  class: "icon")
            %li
              = link_to '#', class: "SideBarNav__list__item" do
                支払い方法
                %i.angleRight
                  = icon('fas', 'angle-right',  class: "icon")
            %li
              = link_to '#', class: "SideBarNav__list__item" do
                メール/パスワード
                %i.angleRight
                  = icon('fas', 'angle-right',  class: "icon")
            %li
              = link_to '#', class: "SideBarNav__list__item" do
                本人情報
                %i.angleRight
                  = icon('fas', 'angle-right',  class: "icon")
            %li
              = link_to 'logout_path', class: "SideBarNav__list__item" do
                ログアウト
                %i.angleRight
                  = icon('fas', 'angle-right',  class: "icon")
      .Container
        -# ユーザー情報
        %section.UserInfo
          = link_to do
            = image_tag 'icon/member_photo_noimage_thumb.png', alt: 'member', height: '60', width: '60'
            %h3.UserInfo__name
              多部ちゃん
            .UserInfo__numbers
              %h3.UserInfo__number__evaluation
                評価
                %span.UserInfo__number__evaluation__number
                  0
              %h3.UserInfo__number__exhibition
                出品数
                %span.UserInfo__number__exihibition__number
                  0
        -# お知らせとtodo
        %section.NewsAndTodos
          %ul.NewsAndTodos__tabs
            %li.active
              %h3
                = link_to '#' do
                  お知らせ
            %li
              %h3
                = link_to '#' do
                  やることリスト
          .TabContents
            %ul.Notifications
              %li
                = link_to '#', class: 'Notifications__link' do
                  %figure
                    = image_tag 'icon/logoicon.png', alt: 'logo', height: '48', width: '48', class: 'Notifications__link__image'
                  .Notifications__link__body
                    .Notifications__link__body__text
                      購入も出品もしなくてOK！連携するだけで300円分のポイントがもらえる！
                    %time
                      %i
                        = icon('far', 'clock',  class: "icon")
                        %span.date
                          11時間前
                  %i.angleRight
                    = icon('fas', 'angle-right',  class: "icon")
              %li
                = link_to '#', class: 'Notifications__link' do
                  %figure
                    = image_tag 'icon/logoicon.png', alt: 'logo', height: '48', width: '48', class: 'Notifications__link__image'
                  .Notifications__link__body
                    .Notifications__link__body__text
                      購入も出品もしなくてOK！連携するだけで300円分のポイントがもらえる！購入も出品もしなくてOK！連携するだけで300円分のポイントがもらえる！
                    %time
                      %i
                        = icon('far', 'clock',  class: "icon")
                        %span.date
                          11時間前
                  %i.angleRight
                    = icon('fas', 'angle-right',  class: "icon")
              %li
                = link_to '#', class: 'Notifications__link' do
                  %figure
                    = image_tag 'icon/logoicon.png', alt: 'logo', height: '48', width: '48', class: 'Notifications__link__image'
                  .Notifications__link__body
                    .Notifications__link__body__text
                      購入も出品もしなくてOK！連携するだけで300円分のポイントがもらえる！購入も出品もしなくてOK！連携するだけで300円分のポイントがもらえる！購入も出品もしなくてOK！連携するだけで300円分のポイントがもらえる！
                    %time
                      %i
                        = icon('far', 'clock',  class: "icon")
                        %span.date
                          11時間前
                  %i.angleRight
                    = icon('fas', 'angle-right',  class: "icon")
              %li.GoToMypageList
                = link_to '#' do
                  一覧を見る
        %section.PurchasedItems
          %h2.TabIntroduction
            購入した商品
          %ul.PurchasedItems__tabs
            %li.active
              %h3
                = link_to '#' do
                  取引中
            %li
              %h3
                = link_to '#' do
                  過去の取引
          .TabContents
            %ul.TransactionNow
              %li.TransactionNow__notFound
                取引中の商品がありません
= render partial: "/items/footer"