= render partial: "/items/header_index"
.UsersShow
  .Wrapper
    %nav.BreadCrumbs
      %ol.BreadCrumbs__list
        %li
          = link_to 'root_path', class: "BreadCrumbs__list__link" do
            フリマ
          %i.angleRight
            = icon('fas', 'angle-right',  class: "icon")
        %li
          マイページ
    .Main
      = render "sidebar"
      .Container
        -# ユーザー情報
        %section.UserInfo
          = link_to do
            = image_tag 'icon/member_photo_noimage_thumb.png', alt: 'member', height: '60', width: '60'
            %h3.UserInfo__name
              多部ちゃん
            .UserInfo__numbers
              %h3.UserInfo__number__evaluation
                評価
                %span.UserInfo__number__evaluation__number
                  0
              %h3.UserInfo__number__exhibition
                出品数
                %span.UserInfo__number__exihibition__number
                  0
        -# お知らせとtodo
        %section.NewsAndTodos
          %ul.NewsAndTodos__tabs
            %li.active
              %h3
                = link_to '#' do
                  お知らせ
            %li
              %h3
                = link_to '#' do
                  やることリスト
          .TabContents
            %ul.Notifications
              %li
                = link_to '#', class: 'Notifications__link' do
                  %figure
                    = image_tag 'icon/logoicon.png', alt: 'logo', height: '48', width: '48', class: 'Notifications__link__image'
                  .Notifications__link__body
                    .Notifications__link__body__text
                      購入も出品もしなくてOK！連携するだけで300円分のポイントがもらえる！
                    %time
                      %i
                        = icon('far', 'clock',  class: "icon")
                        %span.date
                          11時間前
                  %i.angleRight
                    = icon('fas', 'angle-right',  class: "icon")
              %li
                = link_to '#', class: 'Notifications__link' do
                  %figure
                    = image_tag 'icon/logoicon.png', alt: 'logo', height: '48', width: '48', class: 'Notifications__link__image'
                  .Notifications__link__body
                    .Notifications__link__body__text
                      購入も出品もしなくてOK！連携するだけで300円分のポイントがもらえる！購入も出品もしなくてOK！連携するだけで300円分のポイントがもらえる！
                    %time
                      %i
                        = icon('far', 'clock',  class: "icon")
                        %span.date
                          11時間前
                  %i.angleRight
                    = icon('fas', 'angle-right',  class: "icon")
              %li
                = link_to '#', class: 'Notifications__link' do
                  %figure
                    = image_tag 'icon/logoicon.png', alt: 'logo', height: '48', width: '48', class: 'Notifications__link__image'
                  .Notifications__link__body
                    .Notifications__link__body__text
                      購入も出品もしなくてOK！連携するだけで300円分のポイントがもらえる！購入も出品もしなくてOK！連携するだけで300円分のポイントがもらえる！購入も出品もしなくてOK！連携するだけで300円分のポイントがもらえる！
                    %time
                      %i
                        = icon('far', 'clock',  class: "icon")
                        %span.date
                          11時間前
                  %i.angleRight
                    = icon('fas', 'angle-right',  class: "icon")
              %li.GoToMypageList
                = link_to '#' do
                  一覧を見る
        %section.PurchasedItems
          %h2.TabIntroduction
            購入した商品
          %ul.PurchasedItems__tabs
            %li.active
              %h3
                = link_to '#' do
                  取引中
            %li
              %h3
                = link_to '#' do
                  過去の取引
          .TabContents
            %ul.TransactionNow
              %li.TransactionNow__notFound
                取引中の商品がありません
= render partial: "/items/footer"