//ヘッダー部分テンプレート
= render partial: "header_index"
//パンクズ部分テンプレート

.Main
  .showMain
    .contentLeftqq
    .contentRight
      .topContent
        .ItemBox
          %h2.ItemBox__name 
            = @item.name
          .ItemBox__body
            %ul
              %li
                = image_tag @item.item_images.first.src.url, alt: 'image1'
                %ul
                  - @item_images.each do |item_image|
                    %li
                      =image_tag item_image.src.url, size: "75x75", alt: "image"
          .ItemBox__price
            %span
              ¥
              = @item.price.to_s(:delimited)
              -# to_s(:delimited)が価格にカンマをいれる記述
            .ItemBox__priceDetail
              %span
                (税込)
              %span
                = @item.delivery_fee.delivery_fee
          .itemDetail{style: "white-space: pre-wrap;"}
          -# white-space: pre-wrapで改行やスペースを認識してくれる
            = @item.explanation
          .table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td 
                    = @item.seller.nickname
                    -# = @item.user.nicknameじゃないよ、class_nameで指定したsellerを使うよ
                %tr
                  %th カテゴリー
                  -# - if [46, 74, 134, 142, 147, 150, 158].include?(@category_id)
                  -#   %td
                  -#     = link_to "#{@category_child.category}","#"
                  -#     %br= link_to "#{@category_grandchild.category}","#" 
                  -# -else
                  %td
                    = link_to "#{@category_parent.category}","#"
                    %br= link_to "#{@category_child.category}","#"
                    = link_to "#{@category_grandchild.category}","#"
                %tr
                  %th ブランド
                  %td
                %tr
                  %th 商品のサイズ
                  %td 
                    = @item&.size&.size
                    -# ぼっち演算子
                %tr
                  %th 商品の状態
                  %td                                         
                    = @item.item_condition.condition
                %tr
                  %th 配送料の負担
                  %td 
                    = @item.delivery_fee.delivery_fee
                %tr
                  %th 発送元の地域
                  %td 
                    = @item.prefecture.prefecture
                %tr
                  %th 発送日の目安
                  %td 
                    = @item.preparation_day.preparation_day
          .optionalArea
            %ul
              %li#likeBtn.optionalBtn.likeBtn
                %i.fa.fa-star
                お気に入り 0
            %ul.optional
              %li.optionalBtn
                =link_to "#" do
                  %i.fa.fa-flag
                  不適切な商品の通報

          - if user_signed_in?  && current_user.id != @item.seller_id
            .PurchaseBox
              = link_to purchase_item_path(@item.id), class: "RemoveUnderLine" do
                .PurchaseButton
                  = icon('fa', 'shopping-cart')
                  この商品を購入する

          - if user_signed_in?  && current_user.id == @item.seller_id
            .EditBox
              = link_to '#', class: "RemoveUnderLine" do
                .EditBtn
                  = icon('fa', 'edit')
                  この商品を編集する
            .DeleteBox
              = link_to item_path, method: :delete, class: "RemoveUnderLine" do
                .DeleteBtn
                  = icon('fa', 'trash')
                  この商品を削除する

          .CommentBox
            %h1 コメント一覧
            - if @comments
              .CommentList
                - @comments.each do |comment|
                  %ul
                    %li.CommentList__user
                      = comment.user.nickname
                      %span さん
                    %li.CommentList__text
                      = comment.text
                    %li.CommentList__delete
                      - if user_signed_in? && current_user.id == comment.user.id
                        = link_to item_comment_path(comment.item.id, comment.id), method: :delete do
                          = icon('fa', 'trash')
            .CommentForm
              = form_with model: [@item, @comment], local: true, id: "NewComment" do |f|
                = f.text_area :text, placeholder: 'コメント入力欄', class: "TextBox"
                .noticeMsg
                  相手のことを考え丁寧なコメントを心がけましょう。
                  %br/
                  不快な言葉遣いなどは利用制限や退会処分となることがあります。
                %button.commentBtn{ name: "button", type: "submit", class: "SubmitAJAX" }
                  %i.fa.fa-comment
                  コメントする


      %ul.links
        %li.left
          =link_to "#" do
            %i.fa.fa-angle-left
            %span
            前の商品
        %li.right
          =link_to "#" do
            %span 
            後ろの商品
            %i.fa.fa-angle-right
      .relatedItems
        =link_to 'メンズをもっと見る', "#"



//フッター部分テンプレート
= render "footer"
= render "item_new_btn"